{% extends "base.html" %}

{% block title %} 用户更新 {% endblock %}

{% block content %}

{% if msg.code == 0 %}
    <p style="color: green">{{ msg.result }}</p>
{% else %}
    <p style="color: red">{{ msg.errmgs }}</p>
{% endif %}

<form method="post" action="" >
    姓名：
    <input type="text" name="name" value={{ user.name }}>
    <br>
    <br>
    密码：
    <input type="password" name="password" value={{ user.password }}>
    <br>
    <br>
    性别：
    {% if user.sex == 0 %}
        <input type="radio" name="sex" value="0" checked>男
        <input type="radio" name="sex" value="1">女
    {% else %}
        <input type="radio" name="sex" value="0">男
        <input type="radio" name="sex" value="1" checked>女
    {% endif %}
    <br>
    <br>
    <button type="sumbit" >确定</button>
    <button><a href="userlist.html">取消</a></button>
</form>

{% endblock %}