<!DOCTYPE html>
<!-- html标记语言基础知识 -->
<html lang="en">  <!-- html开始并且以/html结束，表示这是一个网页。html标签是成对出现 -->
<head>  <!-- 以head开始，并且以/head 结束这是网页头部信息段，-->
    <meta charset="UTF-8">
    <title>Title</title>
</head> <!-- 并且以/head结尾 -->
<body> <!-- body标签是网页段内容部门，也是成对出现 -->
<ul> <!-- ul:表示是列表的意思， -->
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
</ul>

<table border="2"> <!-- table:表示表单的意思 border="2" 表示给表单增加边框，并且边框的宽度为2 -->
<thead> <!-- thead：表示一个表的表头，内部是表头的字段内容-->
    <tr>
        <th>姓名</th> <!-- th：表示一个表的head头部，会进行加粗 表头字段使用th标签-->
        <th>性别</th>
        <th>年龄</th>
    </tr>
</thead>
<tbody> <!-- tbody:表示表的内容部门-->
    <tr> <!-- tr:表示表的行-->
        <td>john</td><td>男</td><td>35</td> <!-- td:表示表的列-->
    </tr>
    <tr> <!-- tr:表示表的行-->
        <td>john1</td><td>男</td><td>36</td> <!-- td:表示表的列-->
    </tr>
    <tr> <!-- tr:表示表的行-->
        <td>john2</td><td>男</td><td>37</td> <!-- td:表示表的列-->
    </tr>
</tbody>
</table>

</body>
</html>